<div class="page-header">
    <h1>Catch your pokemon!</h1>
</div>

<div class="row">
    <ul class="pagination">
        <h4>Choose your world:</h4>
        <div class="row text-center" ng-show="!pagesList">
            <br>
            <br>
            <br>
            <br>
            <i class="fa fa-spinner fa-spin text-center" style="font-size:4em"></i>
        </div>
        <div ng-if="page.name" class='col-xs-4 col-sm-2' ng-repeat="page in pagesList">
            <div class="panel panel-default pageItem" ui-sref='lists({id: {{pagesList.indexOf(page)+1}} })'>
                <div class="panel-body">
                    <b>{{page.name}}</b>
                </div>
            </div>
        </div>
    </ul>
</div>
<div class="row" ng-show="pagesList" >
    <h4>Pokemons in this world:</h4>
    <div class="row text-center" ng-show="!pokeList">
        <br>
        <br>
        <br>
        <br>
        <i class="fa fa-spinner fa-spin" style="font-size:4em"></i>
    </div>
    <div class="col-xs-6 col-sm-3" ng-repeat="pokemon in pokeList" ng-repeat="pokemonSprite in pokemonSprites">
        <div class="panel panel-default pokemon" ui-sref='detail({url: pokemon.pokemon_species.url})'>
            <div class="panel-body">
                <b>{{pokemon.pokemon_species.name}}</b>
            </div>
        </div>
    </div>
</div>
</div>
